th,
td {
  border: 1px solid grey;
  text-align: left;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
  font-size: small;
  padding: 15px;
  padding-left: 7px;
}

td {
  width: 20%;
}
table {
  border-collapse: collapse;
  table-layout: fixed;
  width: 80%;
}
body {
  margin-top: 0px;
  margin-left: 40px;
  margin-right: 40px;
  background-color: #a6192e;
}
footer,
header {
  background-color: #34312e;
  height: 100%;
}
button {
  margin: 3px;
  border: none;
  border-radius: 3px;
  text-decoration: none;
  color: white;
  background-color: #a5251c;
  padding: 8px;
  position: relative;
}
input {
  width: 50%;
}
h1,
h3 {
  font-family: Arial, Helvetica, sans-serif;
}
.functionblock {
  height: 100%;
  width: 70%;
  padding: 30px;
  padding-bottom: 50px;
  background-color: #e6ecef;
  border: 1px #c8cacb;
}
#calculator {
  padding: 40px;
  background-color: white;
}
.categories {
  background-color: #d8d8d8;
  font-weight: bold;
  padding-top: 0px;
  padding-bottom: 0px;
}
.red {
  color: #dc3545;
}
